annotated-types
anyio
anywidget
appdirs
asgiref
asteval
asttokens
atmosp
attrs
austin-dist
beautifulsoup4
bme680
bqplot
branca
cdsapi
certifi
cftime
charset-normalizer
click
cloudpickle
colorama
colour
comm
contourpy
cycler
dask
datapi
decorator
dill
duckdb
executing
f90nml
f90wrap
fastapi
filelock
flexcache
flexparser
folium
fonttools
fsspec
gdown
geojson
geopandas
h11
h5py
htmltools
idna
ipyevents
ipyfilechooser
ipyleaflet
ipython
ipython_pygments_lexers
ipytree
ipyvue
ipyvuetify
ipywidgets
JayDeBeApi
jedi
Jinja2
jpype1
jsonschema
jsonschema-specifications
jupyter-leaflet
jupyter_core
jupyterlab_widgets
kiwisolver
leafmap
linecache2
linkify-it-py
livereload
llvmlite
lmfit
locket
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mpmath
multiprocess
multiurl
narwhals
netCDF4
networkx
nose
numba
numdifftools
numexpr
numpy
orjson
packaging
pandas
parso
partd
pillow
Pint
platformdirs
Platypus-Opt
plotly
prompt_toolkit
psutil
psygnal
pure_eval
pvlib
pydantic
pydantic_core
Pygments
pyogrio
pyparsing
pyproj
pyshp
PySocks
pystac
pystac-client
python-box
python-dateutil
python-multipart
pytz
questionary
referencing
requests
rpds-py
scipy
scooby
seaborn
setuptools
shapely
shiny
shinywidgets
six
smbus2
sniffio
soupsieve
stack-data
starlette
supy
sympy
target-py
toolz
torch
tornado
tqdm
traceback2
traitlets
traittypes
typing-inspection
typing_extensions
tzdata
uc-micro-py
umep-reqs
uncertainties
unittest2
urllib3
uvicorn
watchfiles
wcwidth
websockets
whitebox
whiteboxgui
widgetsnbextension
xarray
xyzservices
