Jinja2
MarkupSafe
Pint
PySocks
anyio
appdirs
asgiref
attrs
beautifulsoup4
branca
cdsapi
certifi
charset-normalizer
click
colorama
contourpy
cycler
dask
decorator
duckdb
executing
fastapi
folium
fonttools
fsspec
gdown
geojson
geopandas
h11
h5py
htmltools
idna
ipyevents
ipyleaflet
ipython
ipytree
ipyvue
ipyvuetify
ipywidgets
jedi
jsonschema
jupyter-leaflet
jupyter_core
kiwisolver
leafmap
llvmlite
lmfit
markdown-it-py
matplotlib
mdurl
mpmath
multiprocess
networkx
numba
numexpr
numpy
orjson
packaging
pandas
parso
partd
pillow
platformdirs
plotly
prompt_toolkit
psutil
pure_eval
pvlib
pydantic
pyogrio
pyparsing
pyproj
pyshp
python-box
python-dateutil
python-multipart
pytz
requests
scipy
seaborn
setuptools
shapely
shiny
six
sniffio
soupsieve
starlette
sympy
toolz
tornado
tqdm
traitlets
tzdata
urllib3
uvicorn
wcwidth
websockets
widgetsnbextension
xarray
xyzservices
